.env
.venv/
.vscode/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite
*.sqlite3
architecture/
*other*.md
*.md
code/
llm_report.md
claude_agent_report
claude_agent_report.md

# Ignore knowledge base datasets
*.parquet
rag/processed_dataset/
rag/raw_dataset/
rag/raw_dataset.zip
raw_dataset.zip
rag/scraped_articles/

Response generation documentation/
